/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
  text-align: center;
 }

 .container{
  background-color: #45474B;
  color: #F4CE14;
  padding:10px;
  margin:10px auto;
 }

 .btn-yellow {
  background-color: #45474B;
  border: solid;
  border-color: #F4CE14;
  border-radius: 5px;
  padding: 2px;
  margin: 1px auto;
  color:#F5F7F8;
  }

  .btn-yellow :hover{
    background-color: #F4CE14;
    color:#45474B;
    padding: 3px;
    border-top:#F5F7F8;
    border-bottom: #F5F7F8;
  }


 a {
  text-decoration: none;
  color: #F5F7F8;
}

p{
  color: #F5F7F8;
  font-size: 12px;
}

.form-label{
  font-size: 12px;
}

